@import "ext/_solarized-highlight";

body {
  font-family: Cantarell, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  // font-size: 1.2rem;
  // font-weight: 350;
}

pre {
  text-align: left !important;
  direction: ltr !important;
  padding: 1rem;
}
