@import "ext/_solarized-highlight";

body {
  font-family: Cantarell, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  // font-size: 1.2rem;
  // font-weight: 350;
}

.ui.segment.hover-gray:hover {
  background-color: #f7f7f7 !important;
}

pre {
  text-align: left !important;
  direction: ltr !important;
  padding: 1rem;
  overflow: auto;
  overflow-y: hidden;
}
