@import "ext/_solarized-highlight";

body {
  font-family: Cantarell, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 350;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.author {
  font-weight: 300;
}

.section-header {
  font-weight: 300;
}

section {
  margin-bottom: 15px;
  p {
    font-size: 1.1rem;
  }
}

#github {
  font-size: 1rem;
}

.wrapper {
  padding: 0 15px;
}

.social {
  i {
    font-size: 1.2em;
  }
  .fa-github {
    color: black;
  }
  .fa-linkedin {
    color: darkcyan;
  }
  .fa-rss {
    color: orange;
  }
}

.side-panel {
  text-align: center;
  .nav-link {
    display: block;
    padding: 0.5rem 0.7rem;
  }
}

pre {
  text-align: left !important;
  direction: ltr !important;
  padding: 1rem;
}
