---
layout: page
---
<div class="ui large breadcrumb">
  <a class="section" href="/"><i class="home icon"></i>Home</a>
  {%- for tag in page.categories -%}
  <div class="divider"> / </div>
  <a class="section">{{tag}}</a>
  {%- endfor -%}
</div>
<article 
  class="ui padded basic segment" 
  style="direction: {{ page.direction }}; text-align: {{ page.align }}"
>

  <header>
    <h1 class="ui header">{{ page.title | escape }}
      <div class="sub header">
        {%- assign date_format = "%b %-d, %Y" -%}
        <i>Published at: {{ page.date | date: date_format }}</i>
      </div>
    </h1>
  </header>
  
  <div>
    {{ content }}
  </div>

</article>