---
layout: page
---
<h3>
  <a href="/"><i class="fa fa-home"></i></a>
  {%- for tag in page.categories -%}
  <span style="font-size: 1.1rem;">
    >
    {{tag}}
  </span>
  {%- endfor -%}
</h3>
<article class="post" style="direction: {{ page.direction }}; text-align: {{ page.align }}">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-meta">
    {%- assign date_format = "%b %-d, %Y" -%}
    <i>Published at: {{ page.date | date: date_format }}</i>
  </div>
  
  <div class="post-content">
    {{ content }}
  </div>

</article>